* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #1f1f1f;
}

/* *************** */

html, body, #root {
    width: 100vw;
}

:root {
    --color-gray : #f1f1f1;
    --color-blue: #007bff;
    --color-black: #0d0d0d;
}

/**** STYLE DE  HEADER */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-top {
    width: 100vw;
    padding: 10px 8% 20px 8%;
    background-color: var(--color-gray);
}

/* *************** */

#service-container {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
}

#num-service {
    color: var(--color-blue);
}

.service-item {
    display: flex;
    gap: 1.2em;
    align-items: center;
}

.service-item img {
    width: 35px;
    height: 35px;
}

/* *************** */

#nav-top {
    /* height: 40px; */
    padding: 10px 8% 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--color-blue); */
    
}

#nav-top * {
    display: flex;
    align-items: center;
    height: 40px;
}

#form-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--color-black);
    padding: 10px;
}

#form-nav *{
    border: none;
    outline: none;
    background-color: transparent;
    height: 38px;
}

#input-catalogue {
    border-right: none;
}

#submit-catalogue {
    border-left: none;
}

#compte-panier{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

#compte-container, #panier-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

#panier-compteur {
    border: 2px solid var(--color-black);
    justify-content: center;
    align-items: center;
    width: 40px;
}

/* *************** */

#nav-image-container{
    padding: 10px 8% 20px 8%;
    text-align: center;
    position: relative;
}

#nav-image-container i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

#caret-left {
    left: calc( 8% + 10px);
}

#caret-right {
    right: calc( 8% + 10px);
}

#nav-image {
    width: 84%;
    height: 200px;
}

/* *************** */

#menu {
    background-color: var(--color-blue);
    margin: 10px 8% 20px 8%;
    padding: 0px 100px;
    width: 84vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toogle {
    display: none;
    font-size: 38px;
    color: #fff;
    margin: 8px 10px 10px 10px ;
    cursor: pointer;
}

.menu-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.menu-content:hover .list-title {
    color: #fff;
}

.menu-list {
    display: none;
    background-color: #acacac;
    position: absolute;
    left: 0px;
    top: 100%;
    opacity: 0.9;
    color: #fff;
}

.menu-content:hover {
    color: #fff;
}
.menu-content:hover ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-list-item:hover {
    text-decoration: underline;
    color: #0d0d0d;
}

/* STYLE DE MAIN */

#main {
    padding: 10px 8% 20px 8%;
}

#main-title {
    text-align: center;
    color: var(--color-blue);
    margin-bottom: 10px;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card {
    border: 1px solid var(--color-black);
    width: fit-content;
    cursor: pointer;
}

.card-image {
    width: 300px;
    height: 400px;
}

.card:hover .card-image {
    transform: scale(1.1);
    filter: brightness(80%);
}

.card-image-container {
    overflow: hidden;
    border-bottom: 1px solid var(--color-black);
}

.card-image {
    width: 100% !important;
    height: 250px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.details .description {
    display: none;
}

.old-price {
    text-decoration: line-through;
}

.actual-price {
    font-weight: bold;
}

.name {
    font-weight: bold;
}

.stars-container {
    color: #fbff04
}

/* Category container */

#category-container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.category-image {
    position: absolute;
    width: 180px;
    height: 298px;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    width: 200px;
    height: 300px;
    border: #0d0d0d 1px solid;
}

.category-name {
    background-color: var(--color-blue);
    padding: 20px;
    color: #000;
    opacity: 0.8;
    z-index: 2 ;
}

.category-card:hover .category-name {
    background-color: #01468f;
    color: #fff;
}

.category-img {
    width: 100%;
    height: 100%;
}

/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 8% 20px 8%;
    border-top: 1px solid #000;
    margin-top: 40px;
    background-color: var(--color-gray);
}

#footer h1 {
    color: var(--color-blue);
    text-transform: uppercase;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#footer ul li {
    display: flex;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
}

#footer ul li:hover {
    text-decoration: underline;
}

#footer-img {
    width: 200px;
}

#newsletter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newsletter-container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-blue);
}

#newsletter-container p {
    text-align: center;
}

#newsletter-container form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#newsletter-container form *{
    height: 40px;
    padding: 10px;
}

#newsletter-container form input{
    width: 400px;
    height: 50px;
}

#newsletter-container form input[type="submit"] {
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
}


/* REsponsive */

@media screen and (max-width : 700px){

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    #header {
        width: 98vw;
        padding: 4px;
    }
    
    #service-client {
        font-size: 12px;
    }
    
    #service-livraison,
    #service-collect,
    #input-catalogue,
    #mon-compte{
        display: none;
    }
    
    #nav-top {
        padding: 4px;
    }
    
    #compte-panier,
    #compte-container,
    #panier-container{
        gap: 5px;
    }
    
    .text {
        font-size: 12px;
    }
    
    #nav-image-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #nav-image-container img{
        width: 90vw;
    }
    
    #service-client {
        font-size: 12px;
    }
    
    #service-livraison,
    #service-collect,
    #input-catalogue,
    #mon-compte{
        display: none;
    }
    
    #nav-top {
        padding: 4px;
    }
    
    #compte-panier,
    #compte-container,
    #panier-container{
        gap: 5px;
    }
    
    .text {
        font-size: 12px;
    }
    
    #menu {
        margin: 1vw !important;
        width: 100% !important;
        display: flex;
        padding: 0;
        justify-content: start !important;
        align-items: start !important;
        flex-direction: column;
        height: fit-content;
        color: #fff !important;
    }
        
    .menu-content {
        display: none;
        flex-direction: column;
        padding: 5px 10px;
        font-weight: bold;
    }
    
    #menu-toogle {
        display: flex;
    }

    .list-title, .menu-list-item {
        color: #e9e4e4;
    }

    .menu-list {
        font-weight: normal;
        flex-direction: column;
        position: unset;
        background: unset;
        padding-left: 10px;
        margin-left: 0;
    }

    #nav-image-container {
        padding: 1vw;
    }

    #category-container {
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }
    
    #main {
        padding: 4vw;
    }

    .category-card,
    .category-image-container img{
        width: 92% !important;
        padding: 0;
    }

    .category-img {
        width: 96vw;
        padding: 0;
    }

    #footer {
        font-size: 12px;
    }

    #footer h1 {
        font-size: 18px;
        margin: 10px;
        margin-left: 0;
        text-align: left;
    }

    #newsletter-container p{
        margin-left: 0;
        font-size: 12px;
    }

    #footer-content {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    #footer form {
        flex-direction: column;
    }

    #footer form * {
        flex-direction: column;
        width: 96% !important;
    }
}
