* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* *************** */

html, body, #root {
    width: 100vw;
}

:root {
    --color-gray : #f1f1f1;
    --color-blue: #007bff;
    --color-black: #0d0d0d;
}

/**** STYLE DE  HEADER */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-top {
    width: 100vw;
    padding: 10px 8% 20px 8%;
    background-color: var(--color-gray);
}

/* *************** */

#service-container {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
}

#num-service {
    color: var(--color-blue);
}

.service-item {
    display: flex;
    gap: 1.2em;
    align-items: center;
}

.service-item img {
    width: 35px;
    height: 35px;
}

/* *************** */

#nav-top {
    /* height: 40px; */
    padding: 10px 8% 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--color-blue); */
    
}

#nav-top * {
    display: flex;
    align-items: center;
    height: 40px;
}

#form-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--color-black);
    padding: 10px;
}

#form-nav *{
    border: none;
    outline: none;
    background-color: transparent;
    height: 38px;
}

#input-catalogue {
    border-right: none;
}

#submit-catalogue {
    border-left: none;
}

#compte-panier{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

#compte-container, #panier-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

#panier-compteur {
    border: 2px solid var(--color-black);
    justify-content: center;
    align-items: center;
    width: 40px;
}

/* *************** */

#nav-image-container{
    padding: 10px 8% 20px 8%;
    text-align: center;
}

#nav-image {
    width: 84%;
}

/* *************** */

#menu {
    background-color: var(--color-blue);
    margin: 10px 8% 20px 8%;
    padding: 0px 100px;
    width: 84vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.menu-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.menu-list {
    display: none;
    color: #0d0d0d;
    position: absolute;
    left: 0px;
    top: 100%;
}

.menu-content:hover ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #585858; 
    color: #fff;
    opacity: 0.9;
}

.menu-list-item:hover {
    text-decoration: underline;
    color: var(--color-blue);
}

/* STYLE DE MAIN */

#main {
    padding: 10px 8% 20px 8%;
}

#main-title {
    text-align: center;
    color: var(--color-blue);
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card {
    border: 1px solid var(--color-black);
    width: fit-content;
    cursor: pointer;
}

.card-image {
    width: 300px;
    height: 400px;
}

.card:hover .card-image {
    transform: scale(1.1);
    filter: brightness(80%);
}

.card-image-container {
    overflow: hidden;
    border-bottom: 1px solid var(--color-black);
}

.card-image {
    width: 100% !important;
    height: 250px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.old-price {
    text-decoration: line-through;
}

.actual-price {
    font-weight: bold;
}

.description {
    font-weight: bold;
}

.stars-container {
    color: #fbff04
}